@import '~antd/dist/antd.css';

@font-face{
  font-family:"cocogoose-regular";
  src:local("./fonts/cocogoose/Cocogoose\ Pro-trial.ttf") format("woff"),
  local("./fonts/cocogoose/Cocogoose\ Pro-trial.ttf") format("opentype"),
  local("./fonts/cocogoose/Cocogoose\ Pro-trial.ttf") format("truetype");
}

body {
  font-family:"cocogoose-regular", Fallback, sans-serif;
  font-size:40px;
  text-transform:none;
}

.App {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container-link {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: box-shadow .3s;
}

.container-link h2 {
  font-weight: 900;
}

.container-link:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.4);
}

.container-link:hover h2 {
  font-weight: 300;
}

/* Background Colors */
.blue-background {
  background: rgb(51, 89, 165, 0.75);  /* Primary Color: #3359A5 */
  min-height: 30vh;
}

.green-background {
  background: rgb(149, 255, 103, 0.75);  /* Secondary Light Color: #95FF67 */
  min-height: 30vh;
}

.grey-background {
  background: rgb(151, 151, 151, 0.75);  /* Grey Color: #979797 */
  min-height: 13vh;
  margin-top: 16px;
}

/* Sign In Styling */
.sign-in {
  margin-top: 16px;
}

/* Ant Design - Style Overrides */
h1.ant-typography,
h2.ant-typography,
h4.ant-typography {
  color: white;
}

h1.ant-typography {
  font-weight: 900;
  font-size: 25px;
  margin-top: 5%;
}

h2.ant-typography {
  font-size: 15px;
}

h4.ant-typography {
  font-size: 10px;
}

.ant-typography a {
  text-decoration: underline;
}

/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1.ant-typography {
    font-weight: 900;
    font-size: 80px;
  }

  h2.ant-typography {
    font-size: 30px;
  }

  h4.ant-typography {
    font-size: 20px;
  }
}